.app-header {
  position: fixed;
  padding-top: 10px;
  left: 100px;
  right: 0;
  height: auto;

  display: flex;
  align-items: center;
  padding: 20px;

  background: var(--bg-full);
  border-bottom: 1px solid var(--bg-full);
  z-index: 150;

  transition: left 0.22s ease;
}

/* sidebar expanded */
.sidebar.expanded ~ .app-header {
  left: 240px;
}

.app-header h2 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

/* MOBILE MODE */
@media (max-width: 768px) {
  .app-header {
    position: relative;
    top: 70px;
    left: 0;
    right: 0;
    height: 0;
    padding: 12px 16px;
    border-bottom: 1px solid var(--bg-full);
  }
}